// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
// clases personalizadas
.card-black {
    @extend .card;
    border: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);

    .card-header {
        background-color: #2c2c2c;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    }
}